<div class="container mt-5">
  <div class="row">
    <div *ngFor="let artista of artistas" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ artista.nombre }}</h5>
          <p class="card-text">{{ artista.genero_musical }}</p>
          <a [routerLink]="['/artistas', artista.id_artista]" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="loginService.userData | async as user">
    <div class="d-flex justify-content-center w-100 mb-4">
      <button *ngIf="user.rol === 'admin' && !isCreating" class="btn btn-primary crear-artista-btn" (click)="crearArtista()">Crear Artista</button>
    </div>
  </ng-container>

  <div *ngIf="isCreating" class="create-artist-form">
    <form (ngSubmit)="submitArtista()" #createArtistaForm="ngForm">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" class="form-control" required [(ngModel)]="newArtista.nombre" name="nombre" #nombre="ngModel">
      </div>
      <div class="mb-3">
        <label for="genero_musical" class="form-label">Género musical:</label>
        <input type="text" id="genero_musical" class="form-control" required [(ngModel)]="newArtista.genero_musical" name="genero_musical" #genero_musical="ngModel">
      </div>
      <div class="mb-3">
        <label class="form-label" for="descripcion">Descripción:</label>
        <textarea id="descripcion" class="form-control" required [(ngModel)]="newArtista.descripcion" name="descripcion" #descripcion="ngModel"></textarea>
      </div>
      
      <button type="submit" id="createbutton" class="btn btn-success" [disabled]="createArtistaForm.invalid">Crear Artista</button>
      <button type="button" class="btn btn-secondary" (click)="cancelCreateArtista()">Cancelar</button>
    </form>
  </div>
</div>
