<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card p-4" style="max-width: 500px; width: 100%;">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h2>Iniciar Sesión</h2>
      <hr>
      <p class="text-danger">{{ loginError }}</p>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email" required>
        <div *ngIf="loginForm.controls['email']?.invalid && (loginForm.controls['email']?.dirty || loginForm.controls['email']?.touched)" class="text-danger">
          <div *ngIf="loginForm.controls['email']?.errors?.['required']">El Email es requerido.</div>
          <div *ngIf="loginForm.controls['email']?.errors?.['email']">El Email debe tener un formato válido.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" required>
        <div *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)" class="text-danger">
          <div *ngIf="loginForm.controls['password']?.errors?.['required']">El Password es requerido.</div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      </div>
      <p class="text-center mt-3">¿No tienes cuenta? <a routerLink="/register">Crea una</a></p>
    </form>
  </div>
</div>
