
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>Bienvenido a FestivApp</h1>
      <p>Disfruta de los mejores eventos y artistas del momento.</p>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-4 text-center">
      <img src="https://static.vecteezy.com/system/resources/previews/000/182/420/non_2x/music-festival-background-vector.png" alt="Festival" class="img-fluid rounded">
      <h2>Festivales</h2>
      <p>Descubre los festivales más emocionantes del año.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-musica-popular-gira-cantantes-populares-industria-musica-pop-artista-top-chart-servicio-produccion-bandas-musicales-estudio-grabacion-libro-eventos_335657-603.jpg?t=st=1718131074~exp=1718134674~hmac=7fae30043c5333dd09c7468b6a384302180b24187bbf41ce51d13b03e290aed4&w=826" alt="Artista" class="img-fluid rounded">
      <h2>Artistas</h2>
      <p>Explora el perfil de tus artistas favoritos.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/6541/6541074.png" alt="Grupo" class="img-fluid rounded">
      <h2>Grupos</h2>
      <p>Conoce a gente para compartir los momentos</p>
    </div>
  </div>
</div>
